.city {
  color: #FF4500;
}


#meuBotao {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

#meuBotao:hover {
    background-color: darkblue;
}
